    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: lightblue;
      height: 100%;
      width: 200px;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 1200) {
      .row.content {height: auto;} 
    }

    * {
      background-color:lightblue;
      font-family: 'Tw Cen MT', sans-serif;
    }

    .well {
      background-color: white;
    }